<div class="container">
  <h1>Yt-Player-Angular</h1>
  <p>
    This is a demo page of
    <a href="https://www.npmjs.com/package/yt-player-angular"
      >yt-player-angular</a
    >
    package. Below, video, text area with emitted streams and button actions
    logged.
  </p>
  <hr />

  <div class="d-flex justify-content-center">
    <div class="flex-column">
      <yt-player
        [videoId]="videoId"
        [options]="playerOptions"
        (stateChange)="onStateChange($event)"
      ></yt-player>
      <form [formGroup]="videoIdForm" (ngSubmit)="onSubmit(videoIdForm)">
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text">Youtube Video Id</span>
          </div>
          <input type="text" formControlName="id" class="form-control" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary">Load</button>
          </div>
        </div>
        <small
          *ngIf="videoIdForm.get('id') && videoIdForm.get('id').errors"
          class="text-danger"
          >Put something there</small
        >
      </form>

      <div class="textwrapper">
        <textarea rows="8" disabled>
          {{ log }}
        </textarea>
        <button class="btn" (click)="onClearLogClick()">Clear log</button>
      </div>
    </div>
  </div>

  <hr />
  <h3>Methods</h3>
  <div class="row">
    <div *ngFor="let am of apiMethods" class="mb-1 col-xs-6 col-sm-4">
      <button class="btn btn-light btn-block" (click)="am.action()">
        {{ am.text }}
      </button>
    </div>
  </div>
</div>
