<yt-player [videoId]="'57dGINi4YzI'" [options]="playerOptions"></yt-player>

<button (click)="play()">play</button>
<button (click)="pause()">pause</button>
<button (click)="stop()">stop</button>
<button (click)="getCurrentTime()">get current time</button>
<button (click)="seek(10)">seek 10s</button>
<button (click)="setVolume(50)">set volume to 50</button>
<button (click)="getVolume()">get volume</button>
<button (click)="mute()">mute</button>
<button (click)="unMute()">unMute</button>
<button (click)="isMuted()">is muted</button>
<button (click)="setSize(100, 100)">set size 100 x 100</button>
<button (click)="setPlaybackRate(0.5)">set playback rate to 360</button>
<button (click)="getPlaybackRate()">get playback rate</button>
<button (click)="getAvailablePlaybackRates()">get available playback rates</button>
<button (click)="getDuration()">get duration</button>
<button (click)="getProgress()">get progress</button>
<button (click)="getState()">get state</button>
