
<div class="container">
    <h1>Yt-Player-Angular</h1>
    <p>This is a demo page of <a href="https://www.npmjs.com/package/yt-player-angular">yt-player-angular</a> package. Below there is video and buttons to control it. Streams produced by the package and method results are logged in developer console.</p>
    <hr>

    <div class="d-flex justify-content-center">
        <yt-player [videoId]="'57dGINi4YzI'" [options]="playerOptions"></yt-player>
    </div>
    
    <hr>
    <h3>Methods</h3>
    <div class="row">
        <div *ngFor="let am of apiMethods" class="mb-1 col-xs-6 col-sm-3">
            <button class="btn btn-light btn-block" (click)="am.action()">{{am.text}}</button>
        </div>
    </div>
</div>
